body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

a {
    color: var(--text-color);
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--color-primary)
}

.section-header {
    text-align: var(--section-header-align);
}

.section-tagline {
    color: var(--color-primary);
    font-family: var(--font-family-title);
    transform : var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
}

